[submodule "public"]
	path = public
	url = https://github.com/x64life/x64life.github.io.git
	branch = master
[submodule "themes/diary"]
	path = themes/diary
	url = https://github.com/AmazingRise/hugo-theme-diary.git
